/ProjetoClima/Win32/Debug/FrmPrincipal.dcu
/ProjetoClima/Win32/Debug/Grijjy.BinaryCoding.dcu
/ProjetoClima/Win32/Debug/Grijjy.Bson.dcu
/ProjetoClima/Win32/Debug/Grijjy.Bson.IO.dcu
/ProjetoClima/Win32/Debug/Grijjy.Bson.Serialization.dcu
/ProjetoClima/Win32/Debug/Grijjy.Collections.dcu
/ProjetoClima/Win32/Debug/Grijjy.DateUtils.dcu
/ProjetoClima/Win32/Debug/Grijjy.ProtocolBuffers.dcu
/ProjetoClima/Win32/Debug/Grijjy.SysUtils.dcu
/ProjetoClima/Win32/Debug/HTTPClient.dcu
/ProjetoClima/Win32/Debug/IdAssignedNumbers.dcu
/ProjetoClima/Win32/Debug/IdBuffer.dcu
/ProjetoClima/Win32/Debug/IdContext.dcu
/ProjetoClima/Win32/Debug/IdCustomTCPServer.dcu
/ProjetoClima/Win32/Debug/IdCustomTransparentProxy.dcu
/ProjetoClima/Win32/Debug/IdExceptionCore.dcu
/ProjetoClima/Win32/Debug/IdGlobalCore.dcu
/ProjetoClima/Win32/Debug/IdHTTP.dcu
/ProjetoClima/Win32/Debug/IdIntercept.dcu
/ProjetoClima/Win32/Debug/IdIOHandler.dcu
/ProjetoClima/Win32/Debug/IdIOHandlerSocket.dcu
/ProjetoClima/Win32/Debug/IdIOHandlerStack.dcu
/ProjetoClima/Win32/Debug/IdIPAddress.dcu
/ProjetoClima/Win32/Debug/IdReply.dcu
/ProjetoClima/Win32/Debug/IdReplyRFC.dcu
/ProjetoClima/Win32/Debug/IdResourceStringsCore.dcu
/ProjetoClima/Win32/Debug/IdScheduler.dcu
/ProjetoClima/Win32/Debug/IdSchedulerOfThread.dcu
/ProjetoClima/Win32/Debug/IdSchedulerOfThreadDefault.dcu
/ProjetoClima/Win32/Debug/IdServerIOHandler.dcu
/ProjetoClima/Win32/Debug/IdServerIOHandlerSocket.dcu
/ProjetoClima/Win32/Debug/IdServerIOHandlerStack.dcu
/ProjetoClima/Win32/Debug/IdSocketHandle.dcu
/ProjetoClima/Win32/Debug/IdSocks.dcu
/ProjetoClima/Win32/Debug/IdTask.dcu
/ProjetoClima/Win32/Debug/IdTCPClient.dcu
/ProjetoClima/Win32/Debug/IdTCPConnection.dcu
/ProjetoClima/Win32/Debug/IdTCPServer.dcu
/ProjetoClima/Win32/Debug/IdThread.dcu
/ProjetoClima/Win32/Debug/IdThreadSafe.dcu
/ProjetoClima/Win32/Debug/IdYarn.dcu
/ProjetoClima/Win32/Debug/OpenWeatherAPI.dcu
/ProjetoClima/Win32/Debug/ProjetoClima.exe
/ProjetoClima/Win32/Debug/URLBuilderOpenWeather.dcu
/ProjetoClima/Win32/Debug/WeatherAPIThread.dcu
/ProjetoClima/Win32/Debug/WeatherController.dcu
/ProjetoClima/Win32/Debug/WeatherData.json
/ProjetoClima/Win32/Debug/WeatherInterfaces.dcu
/ProjetoClima/Win32/Debug/WeatherModel.dcu
/ProjetoClima/Win32/Debug/WeatherRequestThread.dcu
/ProjetoClima/__history/ProjetoClima.dpr.~1~
/ProjetoClima/__history/ProjetoClima.dpr.~2~
/ProjetoClima/__history/ProjetoClima.dpr.~3~
/ProjetoClima/__history/ProjetoClima.dpr.~4~
/ProjetoClima/__history/ProjetoClima.dpr.~5~
/ProjetoClima/__history/ProjetoClima.dpr.~6~
/ProjetoClima/__history/ProjetoClima.dpr.~7~
/ProjetoClima/__history/ProjetoClima.dpr.~8~
/ProjetoClima/ProjetoClima.dproj.local
/ProjetoClima/ProjetoClima.identcache
/ProjetoClima/ProjetoClima.res
/ProjetoClima/ProjetoClima.skincfg
/ProjetoClima/src/Data/__history/HTTPClient.pas.~1~
/ProjetoClima/src/Data/__history/HTTPClient.pas.~2~
/ProjetoClima/src/Data/__history/HTTPClient.pas.~3~
/ProjetoClima/src/Data/__history/HTTPClient.pas.~4~
/ProjetoClima/src/Data/__history/HTTPClient.pas.~5~
/ProjetoClima/src/Data/__history/OpenWeatherAPI.pas.~1~
/ProjetoClima/src/Data/__history/OpenWeatherAPI.pas.~2~
/ProjetoClima/src/Data/__history/OpenWeatherAPI.pas.~3~
/ProjetoClima/src/Data/__history/OpenWeatherAPI.pas.~4~
/ProjetoClima/src/Data/__history/OpenWeatherAPI.pas.~5~
/ProjetoClima/src/Data/__history/URLBuilderOpenWeather.pas.~1~
/ProjetoClima/src/Data/__history/URLBuilderOpenWeather.pas.~2~
/ProjetoClima/src/Data/__history/URLBuilderOpenWeather.pas.~3~
/ProjetoClima/src/Data/__history/URLBuilderOpenWeather.pas.~4~
/ProjetoClima/src/Data/__history/WeatherAPIThread.pas.~1~
/ProjetoClima/src/Data/__history/WeatherAPIThread.pas.~2~
/ProjetoClima/src/Data/__history/WeatherAPIThread.pas.~3~
/ProjetoClima/src/Data/__history/WeatherController.pas.~1~
/ProjetoClima/src/Data/__history/WeatherController.pas.~2~
/ProjetoClima/src/Data/__history/WeatherController.pas.~3~
/ProjetoClima/src/Data/__history/WeatherInterfaces.pas.~1~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~17~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~18~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~19~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~20~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~21~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~22~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~23~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~24~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~25~
/ProjetoClima/src/Data/__history/WeatherModel.pas.~26~
/ProjetoClima/src/Data/__history/WeatherRequestThread.pas.~1~
/ProjetoClima/src/Data/__history/WeatherRequestThread.pas.~2~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~10~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~11~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~12~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~13~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~14~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~15~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~6~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~7~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~8~
/ProjetoClima/src/Forms/__history/FrmPrincipal.dfm.~9~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~21~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~22~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~23~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~24~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~25~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~26~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~27~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~28~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~29~
/ProjetoClima/src/Forms/__history/FrmPrincipal.pas.~30~
